streamlit
streamlit-shadcn-ui
google-genai
google-generativeai
groq
huggingface_hub
python-dotenv
pyyaml
openai
httpx
certifi
httpcore
asyncio
pillow
pytest
pytest-asyncio
edge-tts
loguru
pydantic
aiofiles
pexels-api
google-cloud-texttospeech
elevenlabs
gTTS
